@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movie

<form asp-action="add" method="post">
    <div asp-validation-summary="All"></div>
    Name: <input asp-for="Name"/>
    Rating:<input asp-for="Rating">
    <input type="submit" value="submit">
</form>