@{
    ViewData["Title"] = "Home Page";
}

@model Triangle
<html>
<head>
</head>
<body>
    <div asp-validation-summary="All"></div>
    <form asp-action="Index" method="post">
        <label asp-for="height">Enter Height</label>
        <input asp-for="height" />
        <label asp-for="breadth">Enter breadth</label>
        <input asp-for="breadth" />
        <label>Area of Triangle:</label>
        <input value="@ViewBag.Area.ToString()" readonly />
        <input type="submit" />
    </form>
</body>

</html>